In [96]:
import pandas as pd
import numpy as np

In [103]:
data = pd.read_csv('C:\\Users\\makbulhussain.k\\Downloads\\sc.txt', sep="\t")

In [88]:
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [46]:
data.shape

(4622, 5)

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [49]:
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [51]:
c = data.groupby('item_name')

In [53]:
c = c.sum()

In [58]:
#sort the values 
c.head().sort_values('quantity')

                       order_id  quantity
item_name
Barbacoa Salad Bowl        9708        10
Barbacoa Crispy Tacos      5613        12
6 Pack Soft Drink         52322        55
Barbacoa Bowl             53972        66
Barbacoa Burrito          74718        91

In [61]:
#Total orders
total_items_orders = data.quantity.sum()
total_items_orders

4972

In [114]:
def clean_doll(value):
    value = value.replace("$", "")
    return value

In [135]:
##Remove dollor from data
data['item_price'] = data['item_price'].apply(clean_doll)
data['item_price'].head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: object

In [137]:
#Change object to int for caluclating sum
data['item_price'] = data['item_price'].astype(float)

In [139]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.6+ KB

In [140]:
#Total Price of items
data['item_price'].sum()

34500.16

In [141]:
revenue = (data['quantity']* data['item_price']).sum()

In [142]:
## How much was the revenue for the period in the dataset?

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

In [145]:
## How many orders were made in the period?
orders = data.order_id.value_counts().count()
orders

1834